* {
  width: 100%;
}

body {
  text-align: center;
  font-family: 'Revalia', cursive;
}

.options {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options img {
  width: 10%;
  cursor: pointer;
  opacity: 0.6;
}

.options img:hover {
  opacity: 1;
}

li {
  list-style-type: none;
  margin: 2px;
}

h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
